/* Coded by Mikkel Hansen */
.schedule tr, .schedule th, .schedule td {
    border: white 6px solid;
    border-collapse: collapse;
    padding: 8px;
    background-color: gainsboro;
}

table.schedule {
    border-collapse: collapse;
    text-align: center;
    width:30%;
    display: inline-block;
    float:right;
    margin-top: 5%;
    margin-right: 2%;
    border: gray 8px solid;
}